<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora básica</title>
</head>

<body>

    <form action="calculadora.php" method="GET">
        Primeiro número:
        <input name="num1" type="text" />
        <br><br> Segundo número:
        <input name="num2" type="text" />
        <br><br> Operação:
        <input name="operacao" type="text" />
        <br><br>
        <input type="submit" value="submeter" />

    </form>

</body>

</html>